.GeneralView-div {
    height: 88.5vh;
   display: flex;
   justify-content: center;
   align-items: center  ;
   flex-direction: column;
   background-image: url("../IMG/Mapa2.jpg");
   background-size: cover;
}

.flags-div {
    width: 80%;
    height: 80%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.LR-button {
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 2%;
}

.right {
    width: 40%;
    background-color: black;
    color: white;
    font-weight: bold   ;
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.41);
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.41);
    border-radius: 40% 20% 40% 20%;
}

.left {
    width: 40%;
    background-color: black;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.41);
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.41);
    border-radius: 20% 40% 20% 40%;
}

@media (max-width:500px) {
    .GeneralView-div {
        height: 100vh;
    }

    .LR-button {
        margin-top: 15%;
        width: 30%;
    }

    .flags-div {
        width: 100%;
        height: 100%;
    }
}