.maps-div {
    width: 20%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    margin: 0.5%;
    background-color: darkgray;
}

.maps-img {
    width: 60%;
    height: 50%;
    margin-top: 5%;
}

.maps-p {
    font-size: 1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.button-detail {
    width: 30%;
}

@media (max-width: 500px) {
 
    .maps-div {
    width: 30%;
    height: 25%;
    }

    .maps-p {
        font-size: 0.8rem;
    }

    .button-detail {
        width: 60%;
    }

}