.error-warning {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-title{ 
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

.error-text {
    font-style: italic;
    font-weight: bold;
}